.search{
    position: relative;
    input{
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #fff;
        width: 300px;
        color: #fff;
        padding: 5px 10px;
        font-size: 16px;
        @media(max-width: 768px){
            width: 120px;
            padding: 2px 10px;
        }
    }
    i{
        position: absolute;
        right: 0;
        z-index: 1;
        font-size: 24px;
    }
}